<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title>Black Bookstore App</title>
  </head>
  <body>
    <div id="navbar">
<ul>
      <li><button type="button">HOME</button></li>
      <li><button type="button">DETAILS</button></li>
      <li><button type="button">LOGIN</button></li>
    </ul>
    </div>
    <div id="header">

    </div>
    <div id="content">

    </div>
    <div id="footer">

    </div>

  </body>
</html>
