<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="./index.css">
    <title>Black Bookstore App</title>
  </head>
  <body>
    <div id="header">
      <h1>Black Bookstore App</h1>
    </div>
    <div id="navbar">
      <ul id="navbuttons">
        <li><b><a href="/">HOME</a></b></li>
        <li><b><a href="/details">DETAILS</a></b></li>
        <li><b><a href="/login">LOGIN</a></b></li>
      </ul>
    </div>
    <div id="content">

    </div>
    <div id="footer">
      Black Bookstore - Created by DeBray Carpenter and Marquis Parks
    </div>

  </body>
</html>
